/* General Styling */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

/* Grundläggande styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Content */
main {
    grid-area: main;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

body {
    font-family: Dela Gothic One, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #121212;
    /* Dark Mode */
    color: #ffffff;
}

/* Grid-container */
.container {
    display: grid;

    /* Definierar grid-områden för olika sektioner på sidan */
    grid-template-areas:
        "header header"
        "nav nav"
        "newsGraphic newsGraphic"
        "newArticleSlider newArticleSlider"
        "populareArticles populareArticles"
        "main aside"
        "footer footer";
    grid-template-columns: 1fr;
    /* En kolumn-layout, */
    gap: 20px;
    max-width: 1200px;
    /* Begränsa bredden på sidan */
    margin: auto;
    /* Centrera layout horisontellt */
    padding: 20px;
    /* inre marginal för att ge luft runt element */
    text-align: center;
}

footer {
    grid-area: footer;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}